/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Poppins:wght@300;400;500;600&display=swap');
/* 
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
*/

/* global style */


* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     overflow-x: hidden;
     scroll-behavior: smooth;
}

h1 {
     font-family: 'Oswald', sans-serif;
}

h3,
p,
button {
     font-family: 'Poppins', sans-serif;
}

button {
     cursor: pointer;
     font-weight: 500;
     text-decoration: none;
}
a{
     text-decoration: none;
     color: #ffffff;
}

/* styling the header */

#header {
     margin: 50px 100px;
     display: flex;
     height: fit-content;
     width: fit-content;
     background-color: #161616;
     border-radius: 30px;
}

#header .text-container {
     display: flex;
     width: 50%;
     margin: 50px;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

#header .text-container h1 {
     color: #ffffff;
     font-size: 50px;
}

#header .text-container p {
     font-size: 16px;
     color: #ffffff;
     margin-top: 20px;
     font-weight: lighter;
}

#header .text-container button {
     padding: 16px 25px;
     background-color: #00dd76;
     color: #161616;
     border: none;
     border-radius: 5px;
     margin: 30px 0;
     font-size: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
}

#header .text-container button i {
     margin-left: 20px;
}

#header .header-img {
     width: 50%;
     display: flex;
     align-items: flex-start;
}

#header .header-img img {
     width: 100%;
     height: 100%;
}

/* news styling */


#news {
     margin: 60px;
     display: flex;
}

#news .controls {
     width: 312px;
     height: 312px;
     background-color: #161616;
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

#news .controls .control {
     width: 80%;
     height: 64px;
     background-color: #ffffff;
     border-radius: 10px;
     margin: 15px;
     border: none;
     font-size: 20px;
}

.view-all {
     display: none;
     width: 131px;
     height: 47px;
     background-color: #00dd76;
     border-radius: 5px;
     border: none;
     color: #ffffff;
     margin: 20px auto;
}

#news .controls #blog-btn {
     background-color: #00dd76;
     color: #ffffff;

}

.blogs {
     width: 80%;
     display: grid;
     grid-template-columns: repeat(3, 1fr);

}

.blogs .blog {
     width: 80%;
     height: 362px;
     height: fit-content;
     border: 1px solid rgb(236, 227, 227);
     border-radius: 10px;
     margin: 20px;
}

.blogs .blog .blog-img img {
     width: 100%;
}

.blogs .blog .blog-description button {
     border: 1px solid #161616;
     background-color: #ffffff;
     color: #161616;
     font-size: 16px;
     padding: 4px 15px;
     border-radius: 5px;
     margin: 20px;
}

.blogs .blog .blog-description h3 {
     font-size: 18px;
     margin: 0 10px;
}

.blogs .blog .blog-description .statistics {
     display: flex;
     justify-content: space-evenly;
     margin: 10px 0;

}

.blogs .blog .blog-description .statistics .time,
.comment {
     display: flex;
     justify-content: space-evenly;
     margin: 10px;

}

/* footer styling */

footer{
     height: 444px;
     background-color: #161616;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

footer h1{
     font-size: 40px;
     color: #ffffff;
     margin-bottom: 50px;
}

footer hr{
     width: 80%;
     color: 1px solid rgba(255, 255, 255, 0.1);
     margin-bottom: 50px;
}
footer .navlink{
     margin: 0 40px;
}

footer a{
     text-decoration: none;
     color: #B9B9B9;
     font-size: 16px;
     margin: 10px 25px;
}
footer .icons{
     display: flex;
     flex-direction: row;
     margin: 30px;
}
footer .icons i{
     font-size: 30px;
     color: #00dd76;
}





/* responsive zone */

/* tablet zone */

@media (max-width: 992px) {

     /* header section*/

     #header {
          margin: 50px;
     }

     #header .text-container {
          margin: 30px;
     }

     #header .text-container h1 {
          font-size: 30px;
     }

     #header .text-container p {
          font-size: 14px;
          margin-top: 10px;
     }

     #header .text-container a {
          padding: 12px;
          margin: 20px 0;
     }

     #header .text-container a i {
          margin-left: 12px;
     }

     #header .header-img img {
          width: 323px;
          height: 340px;
     }

     /* news section */

     #news {
          flex-direction: column;
     }

     #news .controls {
          flex-direction: row;
          width: 100%;
          height: fit-content;
          background-color: #ffffff;
     }

     #news .controls .control {
          border: 1px solid #E8E8E8;
          width: 100%;
     }

     #news .controls #blog-btn {
          border: none;
     }

     .blogs {
          width: 100%;
          grid-template-columns: repeat(2, 1fr);

     }

     .blogs .blog {
          width: 90%;
     }

     .view-all {
          display: block;
     }
}

/* phone zone */

@media (max-width: 588px) {

     /* header */

     #header {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 15px 40px;
     }

     #header .text-container h1 {
          font-size: 18px;
     }

     #header .text-container p {
          font-size: 10px;
          margin-top: 8px;
     }

     #header .text-container a {
          padding: 8px 12px;
          font-size: 10px;
     }

     #header .header-img img {
          width: 233px;
          height: 245px;
     }

     /* news section */

     #news .controls {
          flex-direction: column;
          width: 100%;
          height: fit-content;
          background-color: #ffffff;
     }

     .blogs {
          /* width: 100%; */
          grid-template-columns: repeat(1, 1fr);

     }

     .blogs .blog {
          width: 100%;
          margin: 20px 0;
     }
}


/* animation */

.header-btn {
	animation: fadeInAnimation ease-in-out 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


body::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #00dd76;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}

